@media (max-width: 768px) {
    .nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--black);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        z-index: 10;
    }

    .nav.open {
        max-height: 400px;
        z-index: 10;
        background-color: var(--black);
    }

    .nav ul {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 2rem;
        background-color: var(--black);
    }

    .hamburger {
        display: flex;
    }
}