@media (max-width: 768px) {
    .nav {
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: var(--black);
        overflow: hidden;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.5s ease;

    }

    .nav.open {
        height: 100dvh;
        background-color: var(--black);
        width: 100%;
        transform: scaleY(1);
    }

    .nav ul {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 2rem;
        background-color: var(--black);
        width: 100%;
    }

    .nav ul li {
        font-size: 1.5em;
    }

    .hamburger {
        display: flex;
    }

    #heroContainer {
        z-index: 2;
    }
}
