@media (max-width: 768px) {
    .nav {
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: var(--black);
        overflow: hidden;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.5s ease;

    }

    .nav.open {
        height: 100dvh;
        background-color: var(--black);
        width: 100%;
        transform: scaleY(1);
    }

    .nav ul {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 2rem;
        background-color: var(--black);
        width: 100%;
    }

    .nav ul li {
        font-size: 1.5em;
    }

    .hamburger {
        display: flex;
    }

    #heroContainer {
        z-index: 2;
    }
}
 /* ================= OUR PROJECTS ================= */
/* Tablet */
@media (min-width: 768px) {
  .projects__inner { max-width: 900px; }

  .projects__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.8rem;
  }

  .project-card__media { height: 240px; }
}

/* Desktop */
@media (min-width: 1024px) {
  .projects__inner { max-width: 1100px; }
  .projects__list {
    grid-template-columns: repeat(3, 1fr);
  }
}   
/* ================= FOOTER ================= */
/* Tablet & up */
@media (min-width: 768px) {
  .footer__inner {
    max-width: 900px;
  }
}
