* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

:root {
    --primary: #00ffffe6;
    --black: #2e2e2e;
    --white: #dddddd; 
}


/* Typo START */

    p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
    }

    p {
        text-wrap: pretty;
    }

    h1, h2, h3, h4, h5, h6 {
        text-wrap: balance;
    }


/* Typo END */

    body {
      background: #0d0d0d;
      font-family: "Inter", sans-serif;
    }

    header {
      height: 60vh;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;

      box-shadow: 0px 0px 50px #00ffffe6;
      border-radius: 0 0 30px 30px;
    }

    .title {
      font-family: orbitron;
      font-size: 4rem;
      color: white;
      font-weight: 700;
      position: relative;
      z-index: 10;
      animation: fadeIn 2s ease forwards;
      opacity: 0;

      -webkit-text-stroke: 1px black;
      color: white;
      text-shadow:
       3px 3px 0 #000,
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    }

    @keyframes fadeIn {
      from { opacity: 0; transform: translateY(20px); }
      to { opacity: 1; transform: translateY(0); }
    }

    .floating-code {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      pointer-events: none;
      transform: translate(-50%, -50%);
    }

    .code-line {
      position: absolute;
      color: #00ffffe6; /* neon cyan */
      font-size: 1rem;
      font-family: "Fira Code", monospace;
      animation: floatIn 1s ease-out forwards, float 8s linear forwards;
      white-space: nowrap;
      transform: translateY(-20px);
    }

    @keyframes floatIn {
        0% {
            opacity: 0;
            transform: translateY(-20px) translateX(0);
        }
        100% {
            opacity: 1;
            transform: translateY(0) translateX(0);
        }
    }

    @keyframes float {
        0%   { transform: translateY(0) translateX(0); }
        20%  { transform: translateY(-40px) translateX(8px); }
        40%  { transform: translateY(-80px) translateX(-6px); }
        60%  { transform: translateY(-120px) translateX(5px); }
        80%  { transform: translateY(-160px) translateX(-3px); }
        100% { transform: translateY(-200px) translateX(0); }
}
