#WWD {
    background-color: black;
    height: 300px;
}
#WWD h2 {
    color: white;
    text-align: center;
    font-size: 1rem;
    padding-top: 20px;
}

#WWD img {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}
