* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

:root {
    --primary: #00ffffe6;
    --black: #0e0e0e;
    --white: #dddddd; 
}

/* Typo START */

    p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
    }

    p {
        text-wrap: pretty;
    }

    h1, h2, h3, h4, h5, h6 {
        text-wrap: balance;
    }
/* Typo END */

body {
  background: #f5f5f5;
  margin: 0;
  padding: 40px;
  font-family: Arial, sans-serif;
}

.contact-card {
  max-width: 350px;
  margin: 0 auto;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background: #fff;
}


.contact-card label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #333;
}

.contact-card input,
.contact-card textarea {
  width: 90%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.contact-card textarea {
  resize: vertical;
  height: 100px;
}

.contact-card button {
  width: 100%;
  padding: 12px;
  background: #2c2c2c;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.contact-card button:hover {
  background: #000;
}

.hidden {
  display: none;
}

#statusMsg {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}
